<style>
    .wrap{
        white-space: nowrap;
    }
    .intersection{
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
    }
    .intersection img{
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
<div class="wrap">
    {foreach $map as $rows}{*
        *}{foreach $rows as $cell}{*
        *}<div class="intersection">{*
            *}<img src="{$baseUri}/images/roads/intersection.png">{*
            *}<img n:if="$cell & 1" src="{$baseUri}/images/roads/road1.png">{*
            *}<img n:if="$cell & 2" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(180deg);">{*
            *}<img n:if="$cell & 4" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(270deg);">{*
            *}<img n:if="$cell & 8" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(90deg);">{*
            *}<img n:if="$cell & 16" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(315deg);">{*
            *}<img n:if="$cell & 32" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(135deg);">{*
            *}<img n:if="$cell & 64" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(45deg);">{*
            *}<img n:if="$cell & 128" src="{$baseUri}/images/roads/road1.png" style="transform: rotate(225deg);">{*
            *}</div>{*
    *}{/foreach}{*
    *}<br>{*
    *}{/foreach}
    </div>